body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin typical-card{
  margin: 0 0 10px;
  img{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }
  h4{
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 15px;
  }
  p{
    text-align: center;
    font-size: 13px;
    margin: 0;
  }
}

.project-card{
  @include typical-card;
}

.product-card{
  @include typical-card;
}

.task-done{
  font-style: italic;
  text-decoration: line-through;
  color: grey;
}

.loader {
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
